.read-more {
    background-image: linear-gradient(to right,darkcyan,dodgerblue,darkblue,purple);
    text-decoration: none;
    border-radius: 15px;
    color: whitesmoke;
    font-weight: 700;
    font-size: 25px;
    padding: 10px;
    transition: 0.5s;
}
.read-more:hover {
    
}
