.read-more {
    background-image: linear-gradient(salmon,tomato,indianred);
    text-decoration: none;
    border-radius: 10px;
    color: whitesmoke;
    padding: 10px;
    transition: 0.5s;
}
.read-more:hover {
    box-shadow: 2px 2px 10px #ff3838;
}
