body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.first-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;  
    display: flex;
    margin-bottom: 100px;
}
.first-div {
    width: 50%;
    padding-left: 10%;
}
h1 {
    font-size: 50px;
}
h3 {
    font-size: 25px;
}
.first-span {
    color:#ff4d4d;
}
.second-div {
    width: 50%;
    padding-left: 10%;
}
.second-div img {
    width: 100%;
}
.first-image {
    width: 400px;
    height: 600px;
    border-radius: 50%;
}
.second-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;  
    background-position: right;
    display: flex;
    margin-bottom: 100px;
}
.experience-heading {
    font-size: 50px;
    color: #130f40;
}
.third-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    margin-bottom: 200px;
}
.before {
    font-size: 40px;
    text-align: center;
}
.first-div h4 {
    color:darkred;
    text-align:center ;
    font-size:25px;
}
.after {
    font-size: 40px;
    text-align: center;
}
.second-div h4 {
    color: dodgerblue;
    text-align: center;
    font-size: 25px;
}
#box-shadow-add {
    width: 35%;
    height: 50vh;
    box-shadow: 10px 10px 100px lightgray;
    margin-left: 5%;
    padding: 50px;
    padding-top: 10px;
    transition: 0.7s;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, salmon, indianred, purple, dodgerblue);
    border-image-slice: 1;
   
}
#box-shadow-add:hover {
    box-shadow: 10px 10px 100px rgb(82, 73, 73);
}
#box-shadow-add-another {
    width: 35%;
    height: 50vh;
    box-shadow: 10px 10px 100px lightgray;
    margin-left: 5%;
    padding: 50px;
    padding-top: 10px;
    transition: 0.7s;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, darkblue, darkcyan, cyan);
    border-image-slice: 1;
    
}
#box-shadow-add-another:hover {
    box-shadow: 10px 10px 100px rgb(82,73,73);
}
footer {
    text-align: center;
    font-weight: 900;
    font-size: 35px;

}