body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.first-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;  
    display: flex;
    margin-bottom: 100px;
}
.first-div {
    width: 50%;
    padding-left: 10%;
}
.first-div h1 {
    font-size: 50px;
}
.first-div p {

}
.first-span {
    color:#ff4d4d;
}
.second-div {
    width: 50%;
    padding-left: 10%;
}
.second-div img {
    width: 100%;
}
.first-image {
    width: 400px;
    height: 600px;
    border-radius: 50%;
}
.second-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;  
    background-position: right;
    display: flex;
    margin-bottom: 100px;
}
.third-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat; 
    background-position: left;
    display: flex; 
    margin: 0;
    transition: 0.5s;
    margin-bottom: 35px;
    
}
.espacial3 h1 {
    text-align: center;
    
}
.parabaz {
    text-align: center;
}
.third-section .second-div h1 {
    font-size: 50px;
    text-align: center;
}
.third-section .second-div h3 {
    text-align: center;
}
.espacial3 {
    width: 50%;
    box-shadow: 10px 10px 100px rgb(90, 60, 60);
    margin-right: 50px;
    padding: 20px;
    
   
}
.espacial4 {
    width: 50%;
    box-shadow: 10px 10px 100px rgb(90, 60, 60);
    margin-right: 50px;
    padding: 20px;
   
}
#before-death {
    border-left: 10px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato,indianred,darkred,orange,red);
    border-image-slice: 1;
}
#after-death {
    border-left: 10px solid;
    border-image: linear-gradient(180deg,blue,cyan,hotpink,purple);
    border-image-slice: 1;
}
footer {
    text-align: center;
    font-weight: 900;
    font-size: 35px;

}